.layout {
  display: flex;
}
.toggle-sidebar {
  display: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
}
.toggle-sidebar div {
  height: 0;
  border: 2px solid black;
  margin-bottom: .3rem;
  width: 1rem;
}
.nav {
  width: 200px;
  flex: 0 1 200px;
  height: 100vh;
  background: #f2f3f7;
  z-index: 10;
}
.main-container {
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .toggle-sidebar {
    display: block;
  }
  .show-sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
}
